*{
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #FFFFFF;
    --secondery-color: #00FF88;
    --bg-color-1: #1A0B2E;
    --bg-color-2: #230E3D;
    --bg-color-3: #351165;
    --bg-color-4: #250D44;
    --bg-gradiant:var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
     --bg-gradiant-varticle:var(--Linear, linear-gradient(0deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));

}

.open-inter{
  font-family: "Open Sans", sans-serif;
}
header{
    background-color: var(--bg-color-1);
    display: block;
}

/* #header-container{
    background-color: var(--bg-color-1);
    display: block;

} */
/* navbar */
.container{
    width: 75%;
    margin: 0 auto;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

}

.logo{
    color: var(--primary-color);
}

.grdnt{
    background: var(--bg-gradiant-varticle);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links{
    display: flex;
    gap: 32px;
}

.nav-links a{
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;


}

.btn{

}

.btn button{
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10000px;
    border: none;
    color: var(--primary-color);
    background: var(--bg-gradiant);
    cursor: pointer;
}

/* navbar-end */

/* hero-part-star */

#hero-section{
    background: url(../assets/hero-bg.png) no-repeat center/cover;
    

}

.hero-container h2, p{
    color: var(--primary-color);

}

.hero-mic{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.hero-mic .mic{

    position: absolute;
    left: 48%;
    transform: translate(-50%);
}