*{
    margin: 0;
    padding: 0;
    
}
:root {
    --primary-color: #FFFFFF;
    --secondery-color: #00FF88;
    --bg-color-1: #1A0B2E;
    --bg-color-2: #230E3D;
    --bg-color-3: #35116549;
    --bg-color-4: #250D44;
    --bg-gradiant:var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
     --bg-gradiant-varticle:var(--Linear, linear-gradient(0deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));

}

.open-inter{
  font-family: "Open Sans", sans-serif;
}
header{
    background-color: var(--bg-color-1);
    display: block;
}

#header-container{
    border-bottom: 1px solid #533C72;

}

/* navbar */
.container{
    width: 75%;
    margin: 0 auto;
}
.bcg{
    background-color: var(--bg-color-1);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

}

.logo{
    color: var(--primary-color);
    cursor: pointer;
}

.logo h2{
    font-size: 48px;
    font-weight: 800;
}
.grdnt{
    background: var(--bg-gradiant-varticle);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links{
    display: flex;
    gap: 32px;
    list-style: none;
    transition: all 1s;
}

.nav-links  a:hover{
    border-bottom: 1px solid #FFFFFF;
    transform: scale(1.4);
    
}

.nav-links a{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;


}


.btn{
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10000px;
    border: none;
    color: var(--primary-color);
    background: var(--bg-gradiant);
    cursor: pointer;
    transition: all 1s;

    
}

.btn:hover{
    transform: scale(1.2);
    transition: all 1s;

}




.hamburger{
    display: none;
    cursor: pointer;
}



/* navbar-end */

/* hero-part-star */

#hero-section{
    background: url(../assets/hero-bg.png) no-repeat center/cover;
    padding: 100px 0;
    

}

.hero-container h2, p{
    color: var(--primary-color);
    text-align: center;


}

.hero-content h2{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;

}


.hero-mic{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;

}
.hero-mic .mic{

    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.mic{
    position: relative;
}

.new{
    position: absolute;
    top: -50px;
    right: -120px;
    transform: translate(-40%);
    animation: jump 1.8s ease-in-out infinite;

} 

@keyframes jump{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(20deg);
  }
  50%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.new_btn{
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;
    background-color: var(--secondery-color);
    border: none;
    transition: all 1s;

}

.new_btn:hover{
    transform: scale(1.2);}

.mail-btn{
    border: 1px solid var(--secondery-color);
    background-color: transparent;
    color: var(--secondery-color);
    border-radius: 1000px;
    padding: 12.5px 16px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.mail-btn:hover{
    color: var(--primary-color);
    background: var(--bg-gradiant);
    border: 1px solid #1A0B2E;
}

.hero-btn{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

/* heros-ection-end */

/* about-us-section */

.about-heading{
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #533C72;
}

.heding-2{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}

.heding-3{
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 16px;
    text-align: center;
}

.heding-4{
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
    padding: 16px 0;
}

.pera{
    color: #ffffff98;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    line-height:35px;
}

.about-rating{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 80px;
    padding-bottom: 120px;
}

.rating-card{
    color: var(--secondery-color);
    align-items: center;
    text-align: center;
    padding: 80px 0 120px 0;


}

.rating-card h4{
    font-size: 48px;
    font-weight: 900;
}

.app{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 120px;
}

.normarl{
    grid-column: span 1;
    grid-row: span 2;
}

.medium{
    grid-column: span 2;
    grid-row: span 1;
}

.nm{
    grid-column: span 1;
    grid-row: span 1;
}


.bcg2{
    background-color: var(--bg-color-2);
}

.app-box{
    background-color: var(--bg-color-3);
    border-radius: 40px;
    padding: 40px;
    transition: all 1s;


}

.app-box:hover{
    transform: scale(1.05);
}
 
.app-box p{
    text-align: left;
}
.app-section h3{
    padding-top: 130px;
    padding-bottom: 40px;
}

.vid-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card{
    background-color: var(--bg-color-4);
    border-radius: 30px;

}

.card iframe{
    width: 100%;
    border: none;
    border-radius: 30px 30px 0 0;
}

.card-heading{
    padding: 24px;
}


.card p{
    text-align: left;
}

.feature-section h2{
    background-color: var(--primary-color);

}

.feature-section{
    padding-bottom: 120px;
}

.time{
    color: var(--secondery-color);
}

.chalange{
    padding-bottom: 120px;
}

.chalange-card{
    display: flex;
    background-color: var(--bg-color-4);
    border-radius: 30px;
    padding: 40px;
}

.image{
    margin-right: 24px;

}

.chalenge-heading p{
    text-align: left;
}


footer{
    background: url(../assets/footer-bg.png) no-repeat center/cover ;
}

.social-link span{
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #533C72;
    align-items: center;
    color: var(--primary-color);
    cursor: pointer;
    transition: all 1s;

}

.social-link span:hover{
    border: 1px solid red;
    transform: scale(1.2);

}

#footer h1{
    font-size: 60px;
    font-weight: 800;
    color: var(--primary-color);
    text-align: center;

}

.footer-content{
    padding: 120px 0;
    transition: all 1s;

}

.link{
    margin: 32px 0;
    color: var(--primary-color);
    align-items: center;
    text-align: center;
    display: flex;
    gap: 40px;
    justify-content: center;
    transition: all 1s;

    
}

.hover-link:hover{
    color: #00FF88;
    cursor: pointer;
    transform: scale(1.1);
}


@media (max-width: 576px) {
    /* hamburger */
    .subscribe-btn, .nav-links{
        display: none;
  }

    .hamburger{
        display: block;
  }

     .navbar{
         display: flex;
         justify-content: space-between;
  }

 .logo h2{
    transform: scale(0.60);
  }

  /* container */
     .container{
         width: 90%;
  }

  /* hero-section */

    #hero-section{
        padding: 60px 0;
  }


    .hero-content h2{
        font-size: 40px;
  }

    .hero-content .pera{
    /* font-size: 14px; */
        line-height: 1.4em;
  }

  /* hero mic */
    .hero-mic img{
        max-width: 220px;
  }

     .hero-mic .mic img{
        max-width: 90px;
  }

    .new{
        top: -20px;
        right: -75px;
        transform: scale(0.70);
  }


    .hero-btn button{
        justify-content: center;
  }

   /* abaout-heading */
   .about-heading{
    border-bottom: 1px solid #533C72;
   }
   .about-heading p br{
    display: none;
   }
      /* about rating */
    .about-rating{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    .about-rating{
        padding-top: 40px;
    }

    .rating-card{
        padding: 0;
    }

      /* app section */
   .app{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
  }

  .app-box p br{
    display: none;
  }
  .heding-3{
    font-size: 32px;
    font-weight: 700;
  }
  .normarl, .medium, .nm{
    grid-column: auto;
    grid-row: auto;
  }

    /* featured videos */
  .feature-section{
    padding-bottom: 30px;
  }

  .vid-card{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  
  .chalange-card{
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .chalenge-heading p{
    text-align: center;

  }

  .chalenge-heading p br{
    display: none;
  }

  .chalange-card img{
    width: 200px;
    margin: 0 auto;
  }
  /* footer-section */
  .footer-content{
    padding: 40px 20px;
  }

  .link{
    flex-wrap: wrap;
    padding: 72px;
    gap: 40px;
    margin: 0;
    padding: 24px 72px;
    cursor: pointer;
  }

  .link span i{
    /* width: 100px; */
    font-size: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

